
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@100;300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

#img-area {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#img-div {
    width: 50%;
    margin: 0 auto;
}

#img {
    width: 100%;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
}

